.container-fluid{
  background-color: #AFE5FF;
  height: 100vh;
}
.row{
  height: 100%;
}
.image-logo{

    display: block;
    margin: 70px auto;

}

.start-bt{

  width: 300px;
  height: 300px;
  display: block;

}
.row-fluid{
  height: 100vh;
}
#start-button{
  position: relative;
  left: 25%;
  width: 350px;
  height: 100px;
  border-radius: 60px;
  background-color: #FFB404;
  color: white;
  border:5px solid #FFB404;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}


#full-game{
  display: none;
}

#theImg{
  display: block ;
  margin: 0 auto;
  position: relative;
  top: 25%;
}
