html{
  overflow-y: hidden;
}

.container-fluid{
  height: 100vh;
}
#board-game{
  transition: display 10s;
}

#row-index{
  background-image: url("../images/background-index.png");
  background-size: contain;
}

.row{
  height: 100vh;
}
.image-logo{

    display: block;
    margin: 70px auto;

}

.start-bt{
  width: 300px;
  height: 300px;
  display: block;
}

.row-fluid{
  height: 100vh;
}
#start-button{
  position: absolute;
  left: 25%;
  width: 350px;
  height: 100px;
  border-radius: 60px;
  background-color: #FFB404;
  color: white;
  border:5px solid #FFB404;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}

#left-cono{
  display: none;
  position: absolute;
  bottom: -320px;
  left: -40px;
  transition: bottom 0.01s;
  z-index: 0;
}

#right-cono{
  display: none;
  position: absolute;
  bottom: -320px;
  right: 0px;
  transition: bottom 0.01s;
}

#confeti{
  position: absolute;
  bottom: 150px;
  left: -500px;
  z-index: 1;
  display: none;
}

#confeti2{
  position: absolute;
  bottom: 140px;
  left: 660px;
  z-index: 1;
  display: none;

}


#start-count, #board-game{
  display: none;
  padding: 0;

}

#background-image-board{
  position:absolute;
  z-index:-1;
  display:none;
  padding: 0;
  width: 100%;
  height: 100%;
}

#theImg{
  display: block ;
  margin: 0 auto;
  position: relative;
  top: 25%;
  transition: display 20s;
}

.center-board-game{
  display: block;
  margin: 0 auto;
}

#board-match{

}

#board-image{
  position: relative;
  top:-1000px;
  transition: all 1s;
}


#screen-letter{
  position: absolute;
  bottom: -500px;
  right: 36%;
  transition: bottom 1.2s;
}


#girl-stage{
  position: absolute;
  bottom: -500px;
  right: 18%;
  transition: bottom 1s;
}

#delete-b{
  position: absolute;
  bottom: -500px;
  right: 29%;
  transition: bottom 1s;
}
#ok-b{
  position: absolute;
  bottom: -500px;
  right: 26.8%;
  transition: bottom 1s;
}
#abc-b{
  position: absolute;
  bottom: -500px;
  left: 24%;
  transition: bottom 1s;
}
#mix-b{
  position: absolute;
  bottom: -500px;
  left: 24%;
  transition: bottom 1s;
}

#letters{
  width: 510px;
  height: 84px;
  background: #ff7f6c;
  position: absolute;
  bottom: 24.5%;
  right: 37.9%;
  border-radius: 25px;
  display: none;
  outline:none;
}


#letters-up{
  width: 510px;
  height: 84px;
  background: white;
  position: absolute;
  bottom: 37%;
  right: 37.9%;
  border-radius: 25px;
  outline:none;
}


#answers-board{
  position: absolute;
  right: 30%;
  top:11%;
  z-index: 1 ;
  width: 800px;
  height: 250px;
  padding: 20px;
}


.tres{
width: 110px;
height: 30px;
background-color: #fe5151;
margin-bottom: 15px;
margin-left: 10px;
margin: 10px auto;
text-align: center;

}

.cuatro{
  width: 140px;
  height: 30px;
  background-color: #fe5151;
  margin-bottom: 15px;
  margin-left: 10px;
  margin: 10px auto;
  text-align: center;
}


.cinco{
  width: 160px;
  height: 30px;
  background-color: #fe5151;
  margin-bottom: 15px;
  margin: 10px auto;
  text-align: center;
  }

.seis{
  width: 200px;
  height: 30px;
  background-color: #fe5151;
  margin-bottom: 15px;
  margin: 10px auto;
  text-align: center;
}

.title-word{
    font-size: 30px;
    background-color:white;
    border: 3px solid #fe5151;
    color: #fe5151;;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
}

.answers-num{
  display: inline-block;
  width: 180px;
  height: 180px;
  margin-left: 5px;
}
